.App {
  text-align: center;
  background-color: #f7b42c;
  background: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  background-size: 200% 200%;
  -webkit-animation: home-gradient-background 20s ease infinite;
  animation: home-gradient-background 20s ease infinite;
}

.App-logo {
  height: 30vmin;
  margin-bottom: 5vh;
  pointer-events: none;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes home-gradient-background {
  0%{background-position:97% 0%}
  50%{background-position:4% 100%}
  100%{background-position:97% 0%}
}
@keyframes home-gradient-background {
  0%{background-position:97% 0%}
  50%{background-position:4% 100%}
  100%{background-position:97% 0%}
}